@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>


<h4>General</h4>
<p>
    If you register in app, we will collect your information for internal usage.
    We do not give nor sell your data to any third party.
    The data is stored on a Microsoft Azure Serer located in North Europe, using the standard Data handler agreement with
    Microsoft.
</p>

<h4>What and why</h4>
<p>
    we only collect ordinary personal data, no sensitive information is stored in out database.
</p>
<h5>Collected data</h5>
<ul>
    <li>email, used as your username</li>
    <li>First name, for use in game play</li>
    <li>Last name for yse in game play</li>
</ul>

<p>
    We do collect anonymous data when you use the app, but non of this data, can be linked to any person. 
</p>

<div class="jumbotron">
    This app is an "show case" and have the GDPR compliance, Privacy by design and Privacy by default as basic architecture.
    for more information see <a href="https://friisconsult.com">Friis Consult aps</a>
</div>

    